html{
    /* width: 94.5%; */
 }
 *{
   font-family: 'Salsa', cursive;
     /* font-family: var(--CDS-type-styles-small-heading-s-font-family),Arial,sans-serif,TrustpilotDefaultFont;   */
    font-weight: 400; 
    margin: 0;
    letter-spacing :;
 }
 header{
     position: fixed; 
     margin-top: -22px; 
    z-index: 1000;
     width: 100%;  
    height: 90px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .logo-icon{
    width: 150px;
    margin: -10px 80px;
 }
 #header_text{
   font-size: 17px;
   border-radius: 10px;
   width: 500px;
   padding: 16px 40px 16px 48px;
   position: relative;
   z-index: 1;
 }
 #icon_search{
   color: #202020;
   z-index: 2;
   top: 36px;
   left: 330px;
   position: absolute;
 }
 .container{
    /* margin-top:-100px; */
     /* width: 108%;  */
    height: 420px; 
    background-color:#04da8d;  
    margin-top:130px ; 
    position: relative;
 }
 .main{
     width: 380px; 
    font-weight:bold;
    font-size: 23px;
    margin: 80px;
 }
 ul{
    display: flex;
    list-style-type: none;
    margin-top: 20px;
 }
 a{
    text-decoration: none;
    color: white;
 }
 a:hover{
    border-bottom: 3px solid white;
 }
 button:hover{
    background-color: rgb(97, 97, 241);
    cursor: pointer;
 }
 .space2{
    background-color: rgb(175, 175, 229);
    padding: 15px;
    border: none;
    margin: -20px 100px 0px 30px;
    border-radius: 30px;
    width: 170px;
    font-weight: 600;
    color: #2e2e2e;
 }
 img{
    border-radius: 30px;
    z-index: 10;
 }
 .img1{
    width: 180px;
    height: 270px;
    position: absolute;
    right: 320px;
    bottom: 124px;
 }
 .img2{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 505px;
    top: -40px;
 }
 .img3{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 505px;
    top:65px;
 }
 .img4{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 610px;
    top: 60px;
 }
 .img5{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 215px;
    bottom: 100px;
 }
 .img6{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 215px;
    bottom: 205px;
 }
 .img7{
    width: 60px;
    height:65px ;
    position: absolute;
    right: 145px;
    bottom: 210px;
    border-radius: 20px;
 }
 .row{
    position: relative;
 }
 #input-box{
    width: 590px;
     height: 30px; 
    border:1px solid black;
    border-radius: 37px;
    margin: -34px 80px;
    position: relative;
    font-size: 20px;
    padding: 20px;
 }
 .input-button{
    background-color: rgb(75, 75, 236);
    position: absolute;   
    left: 533px;
    bottom: -14.6px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 15px;
    width: 170px;
    border-radius: 30px;
    border: none;
 }
 .aside{
    position:relative;
 }
 .transparent{
    z-index: 100px;
    width: 650px;
    height: 200px;
    position: absolute;
    background-color:#ddfdf19f;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    right: 0;
    bottom: 30px;
 }
 .transparent1{
    z-index: 100px;
    width: 270px;
    height: 90px;
    background-color: #ddfdf19f;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    position: absolute;
    right: 0;
    bottom:240px;
 }
 .transparent2{
    width: 90px;height: 90px;
    border-radius: 50%;
    position: absolute;
    background-color: #ddfdf19f;
    bottom: 240px;
    right: 290px;
 }
 .transparent3{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:#04da8d;
    position: absolute;
    right: 170px;
    top: -90px;
 }
 .transparent4{
    width: 30px;
    height: 30px;
    background-color: rgb(248, 136, 155);
    position: absolute;
    bottom: 280px;
    right: 610px;
    border-radius: 50%;
 }
 .container2{
    width: 90%;
    position: relative;
    top: 120px;
    left:80px;
 }
 .space1{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px;
 }
 .view-all{
    position: absolute;
    right: 18px;
    top: 0;
    padding: 14px;
    border-radius: 30px;
    border: none;
    width: 120px;
    font-size: 17px;
    color: rgb(74, 74, 255);
    background-color: rgb(214, 214, 250);
 }
 .container-icons{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(8,327px);
     overflow:auto; 
 }
 .icons:hover{
 cursor: pointer;
 transform: translateY(10px);
 }
 
 ::-webkit-scrollbar{
    width: 0;
 }
 .to-left{
    position: absolute;
    right: -35px;
    top: 195px;
    background-color: rgb(176, 176, 243);
    width: 50px;
    height: 50px;
    border-radius:50% ;
    font-size: 20px;
     scroll-snap-type: x mandatory; 
 }
 .icons{
    /* background-color: rgb(248, 241, 241); */
    margin:0 0px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
   border: 1px solid rgba(187, 186, 186, 0.466); 
    margin: 10px;
    padding:30px;
    background-color: #fff;
 }
 .the-icon{
    margin: 0 10px;
 }
 .question{
    padding: 20px;
   position: relative;
   /* width:100%; */
   margin-top: 170px;
   background-color: rgb(238, 234, 234);
   display: flex;
   height: 35px;
   font-size: 19px;
   align-items: center;
   justify-content: center;
   text-align: center
 }
 .question-button{
     position: absolute; 
    left: 810px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(47, 47, 247);
    color: white;
    height: 50px;
    width: 160px;
 }
 h2{
 font-weight: 800;
 /* margin:40px; */
    margin-left: 45%;
 }
 .Container3{
    width: 95%;
    overflow: auto;
    margin: auto;
 }
 .container3{
    padding: 20px; 
     /* background-color: rgb(233, 233, 233);   */
    width: 100%;
    position: relative;
     margin-left: -3500px; 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(24,266px);
      transform: translate3d(1px,0px,0px,0px);
    transform: translate3d(2896.59px, 0px, 0px);
    transform: translate3d(2896.49px, 0px, 1px);
    transform: translate3d(2896.49px, 0px, 0px);
    transform: translate3d(2896.49px, 0px, 0px);
     transform: translate3d(-11579.35px, 0px, 0px);
     transform: translate3d(-6152.98px, 0px, 0px); 
     transform: translate3d(-5574.83px, 0px, 0px); 
    transform: translate3d(-5024.23px, 0px, 0px);
    transform: translate3d(1123.45px, 0px, 0px);
    transform: translate3d(25.6846px, 0px, 0px);
    transform: translate3d(978.873px, 0px, 0px);
    transform: translate3d(615.537px, 0px, 0px);
    transform: translate3d(1987.97px, 0px, 0px); 
    transform: translate3d(2750px, 0px, 0px);   
    transition:transform 315s, box-shadow 50s; 
    z-index: 1;
 }
 .container3:hover{
   animation-play-state: paused;

 }
 
 p{
    width: 200px;
    margin-left: 10px;
    font-size: 15px;
 }
 .first{
   border: 1px solid rgb(202, 202, 202);
   z-index: 3;
    border-radius: 10px;
    padding:20px;
     margin: 10px ; 
    width: 200px;
    height: fit-content; 
    background-color: #fff;
    /* border: 1px solid rgb(255, 255, 255); */
 }
 .first:hover{
     transform: scale(1.1);
     transition: 0.4s;
     box-shadow: 20px;
     cursor: pointer;
     filter: drop-shadow(0 0 10px rgb(0, 0, 0));
     
 
 }
 .img1-recent{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
 }
 .logo-recent{
     width: 100px;
     margin-bottom: 20px;
 }
 .iphons-container{
   z-index: 1;
     width: 90%;
     height: 900px;
     /* background-color: rgb(241, 241, 241); */
     margin-top: 100px;
     margin: auto;
     border: ;
 
 }
 html{
   background-color: rgb(248, 247, 247);

 }
 .container4{
     width: 100%;
     height: 600px;
     background-color: #fff;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
    position: relative;
 }
 .stiphon{
    filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
     width: 250px;
     height: 390px;
     margin-left: 390px;
     position: absolute;
     box-shadow: 200px;
     background: rgba(11, 12, 12, 0.3);
 }
 .iphon{
      margin-left: -120px; 
 }
 .iphon1{
      margin-left: 425px; 
 
 }
 .iphon2{
     margin-left: 155px; 
 }
 .iphon-footer{
     width: 100%;
     height: 200px;
     background-color:white;
 position: absolute;
 bottom: 0px;    
     z-index: 10;
 }
 .Get{
     font-size: 25px;
     font-weight: 900;
     position: absolute;
     left:-325px;
     top: 25px;
 }
 .get{
    width: 600px; 
    margin-left:270px ; 
    margin-top: 80px;
    
 }
 .qr-code{
    width: 100px;
    position: absolute;
    right: 100px;
    z-index: 100;
    bottom: 80px;
    border-radius: 0px;
 }
 .profileimage{
    position: absolute;
    left:175px ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 425px;
    z-index: 13;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
    border: 5px solid white;
 }
 .profileimage2{
    filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
 
    border: 5px solid white;
    position: absolute;
    left:145px ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 425px;
    z-index: 12;
 }
 .profileimage3{
    filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
 
    border: 5px solid white;
    position: absolute;
    left:115px ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 425px;
    z-index: 11;
 }
 .container5{
    width: 100%;
    height: 550px;
    background-color: #043524;
    margin-top: -140px;
    position: relative
 }
 .content{
    color: #fff;
   width: 500px;
   position: absolute;
   top:150px;
   left: 200px;
 }
 .do{
    color: white;
    background-color: transparent;
    margin:50px 0;
    border-radius: 50px;
    border: 1px solid white;
    padding:20px;
    width: 200px;
    font-weight: 600;
    font-size:17px;
 }
 .tranparency{
    position: absolute;
    background-color: #00b773;
    right: 200px;
    width: 420px;
    height: 460px;
    padding: 50px;
    top: -60px;
    border-radius: 30px;
 }
 .etoil{
    width: 50px;
    position: absolute;
    right: 250px;
    bottom: 230px;
 }
 .etoile{
    width: 40px;
    position: absolute;
    left: 210px;
    top: 10px;
 }
 .look{
    margin: 20px 0;
    padding: 20px;
    border-radius: 30px;
    width: 170px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
 font-size: 17px;
 }
 .container6{
    margin: 50px 0px;
    width: 100%;
    height: 750px;
    position: relative;
    background-color: rgb(233, 233, 233);
    z-index: 2;
 }
 .button-right{
    position: absolute;
    right: 153px;
    background-color: rgb(145, 145,255);
    top: 450px;
    padding: 15px;
    border-radius: 59%;
     transform:translate(calc(100% + 8px),-50%) ;
 }
 .button-left{
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(145, 145, 255);
    position: absolute;
    left:95px;
    top: 430px;
    transform: rotate(180deg);
    
    text-align: center;
 }
 
 .birthday{
    overflow: hidden;
    margin: auto;
    margin-top: px;
    background-color: #fff;
    width: 80%;
    height: 550px;
    display: flex;
    font-size: 20px;
    /* overflow-x: auto; */
    position: relative;
 }
 img {
     overflow-clip-margin: content-box; 
     overflow: clip; 
 }
 
 footer{
    width: 100%;
    height: 650px;
    background-color: black;
    margin-top: -50px;
   
 }
 .container7{
    width: 90%;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,300px);
    margin-top: 20px;
    margin-left: 30px;
 }
 .terms1{
     margin: 20px; 
 }
 .footer-footer{
    margin: 40px;
 
 }
 option{
    height: 400px;
 }
 .terms{
    width: 100px;
    margin: 20px;
    margin-top: 10px;
 }
 .to-left:hover{
    cursor: pointer;
 }
 .content-footer{
    margin: 15px; 
 }
 .container-select{
    display: none;
 }
 @media (max-width:606px) {
    body{
      width: 606px;
       position: relative;
       margin: 0;
    }
    .container{
       width: 100%;
       position: absolute;
       right: 0;
       top:-110px;
       height: 550px;
    }
    .container-select{
       display: visible;
    }
    header{
      width: 605px; 
       height: 75px;
    }
    .logo-icon{
       width: 140px;  
       margin-left: 30px;
       margin-top: 40px;
    }
    .main{
      font-size: 15px;
      width: 500px;
      position: absolute;
      top: 50px;

    }
    img{
      display:none;
    }
     h1{
       position: absolute;
       top: 100px;
       width: 450px;
       font-size: 22px;
       margin-top: -100px;
    } 
   #input-box{
    position: absolute;
    top: -220px;
    left: -60px;
    display: flex;
    justify-content: center;
       width: 500px;
       height: px;
    }
    .transparent{
       width: 150px;
       height: 40px;
       position: absolute;
        bottom: 60px; 
    }
    .transparent1{
      bottom:-40px;
      position: absolute;
    }
    .transparent2{
      position: absolute;
      bottom: 55px;
      right: 170px;
      width: 50px;
      height:50px;
    }
    .transparent3{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      right:100px
    }
    .transparent4{
      position:absolute;
      bottom:20px;
      right:220px ;
    }
    .img1{
       width: 100px;
       height: 150px;
       position: absolute;
       bottom:-335px;
       right:30px
    }
    .img2{
      position: absolute;
      top:340px;
      right:-50px;
      width: 70px;
      height: 80px;
    }
    .img3{
      position:absolute;
      top: 250px;
      right: -50px;
      width: 70px;
      height: 80px;
    }
    .img4{
      position: absolute;
      bottom: 10px;
    }
    .img5{
      width: 80px;
      height:80px;

      position: absolute;
      top:230px;
      right: 130px;
    }
    .img6{
      position: absolute;
      top:300px;
      width: 80px;
      height: 80px;
    }

    ul{
       display:none
    }
    /* #input-box{
      position: absolute;
      top: -220px;
       height: 30px;
       width: 450px;
    } */
    .input-button{
      position: absolute;
      top: -244px;
      left:450px;
      width:100px;
      height: 50px;
    }
    
    .container2{
      font-size: 17px;
      width: 100%;
      margin-top: 500px;
    }
    .view-all{
      height:40px;
      width: 100px;
      font-size: 14px;
      margin-top: -50px;
      margin-right: 90px;
    }
    .space1{
      margin-left: -50px;
      margin-top:-150px;
    }
    .container-icons{
      font-size: 10px;
      margin-left: -30px;
      grid-template-columns: repeat(8,170px);
      width: 80%;
    }
    .icons{
      height: 10px;
      /* width: 100px; */
    }
    .to-left{
      margin-top: -60px;
      margin-right: 130px;
    }
    .question-button{
      position: absolute;
      left: 400px;
    }
    .question{
      font-size: 17px;
    }
 }